.app {
    font-family: Arial, Helvetica, sans-serif;
}

.app a {
    text-decoration: none;
}

.appContent {
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}